<div id="<%= dom_id question %>">
  <p>
    <strong>User:</strong>
    <%= question.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= question.body %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= question.category %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= question.status %>
  </p>

</div>
