<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <p class="mt-2 text-sm text-gray-700">Your question and answers.</p>
    <div class="flex items-center gap-2 mt-2">
      <span class="text-sm font-medium text-gray-600">Balance:</span>
      <span class="inline-flex items-center rounded bg-green-100 px-2 py-0.5 text-sm font-semibold text-green-800">
        <%= format_pounds(current_user.balance) %>
      </span>
    </div>
  </div>
  <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
    <%= link_to "Back to questions",
        claimant_root_path,
        class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    %>
  </div>
</div>
<div class="mx-auto mt-8">
  <div class="card bg-base-100 shadow-xl mb-8 border border-gray-300">
    <div class="card-body">
      <div class="flex justify-between items-start mb-4">
        <h2 class="card-title text-2xl">Title: <%= @question.title %></h2>
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-2">
            <span class="text-sm font-medium text-gray-600">Category:</span>
            <%= render partial: "shared/questions/question_category_status", locals: { question: @question } %>
          </div>
          
          <div class="divider divider-horizontal"></div>
          
          <div class="flex items-center gap-2">
            <span class="text-sm font-medium text-gray-600">Status:</span>
            <%= render partial: "shared/questions/question_status", locals: { question: @question } %>
          </div>
        </div>
      </div>

      <div class="prose max-w-none mb-4">
        <%= @question.body %>
      </div>

      <div class="text-sm text-gray-500 text-right">
        Asked on <%= @question.created_at.strftime("%B %d, %Y") %>
      </div>
    </div>
  </div>

  <div class="divider divider-primary text-lg font-semibold">Answers</div>

  <div class="space-y-6">
    <h3 class="text-xl font-semibold mb-4">
      <%= pluralize(@question.answers.length, 'Answer') %>
    </h3>

    <% @question.answers.each do |answer| %>
      <%= turbo_frame_tag dom_id(answer) do %>
        <%= render partial: "claimant/questions/answer", locals: { answer: answer } %>
      <% end %>
    <% end %>
  </div>
</div>
