<%# Authentication links container %>
<div class="flex flex-wrap items-center justify-center gap-2 text-sm">
  <%- if controller_name != 'sessions' %>
    <%= link_to t(".sign_in"), new_session_path(resource_name), class: "link link-hover text-base-content/70 hover:text-base-content" %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <% if controller_name == 'passwords' %>
      <span class="text-base-content/30">|</span>
    <% end %>
    <%= link_to t(".sign_up"), new_registration_path(resource_name), class: "link link-hover text-base-content/70 hover:text-base-content" %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <span class="text-base-content/30">|</span>
    <%= link_to t(".forgot_your_password"), new_password_path(resource_name), class: "link link-hover text-base-content/70 hover:text-base-content" %>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <span class="text-base-content/30">|</span>
    <%= link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name), class: "link link-hover text-base-content/70 hover:text-base-content" %>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <span class="text-base-content/30">|</span>
    <%= link_to t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name), class: "link link-hover text-base-content/70 hover:text-base-content" %>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <div class="w-full mt-4 pt-4 border-t border-base-content/10">
      <div class="flex flex-wrap items-center justify-center gap-2">
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= button_to t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)), 
              omniauth_authorize_path(resource_name, provider), 
              class: "btn btn-ghost btn-sm text-base-content/70 hover:text-base-content",
              data: { turbo: false } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
