<div id="<%= dom_id payment %>">
  <p>
    <strong>User:</strong>
    <%= payment.user_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= payment.answer_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

  <p>
    <strong>Approved at:</strong>
    <%= payment.approved_at %>
  </p>

</div>
